{% extends 'base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock %}
 
{% block content %}

    <section id="welcome">
      <header id="main-navigation">
        <img src="{% static "blog/images/AbdElMegeed.jpg" %}" alt="Blog Pogrammer ">
        <h2>Django Blog</h2>
        <p>The Is A Django Blog For Resume </p>
      </header>
    </section>

    <section id="latest-posts"> 
      <h2>My Latest Thoughts</h2>
      <ul>
        {% include "blog/includes/post.html" %}
      </ul>
    </section>

    <section id="about">
      <h2>What i Do</h2>
      <p>
        AbdElMegeed Ahmed Python Django Developer Working As A FreeLancer
      </p>
      <p>
        My Goal IS To Keep Growing As A Developer <br>
        And I Will be One of the Very few best in the World One Day
      </p>
    </section>

{% endblock %}